html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
body {
	z-index: 1;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.github-corner {
	opacity: 0.4;
}
.github-corner:hover {
	opacity: 1;
}

#wrapper {
	height: 100%;
	display: grid;
}
#itemlist {
	justify-self: center;
	align-self: center;
	
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	
	margin: 0.1em;
	max-width: 4em;
	
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 4em;
	line-height: 1.25em;
}
#itemlist > * {
	flex-basis: calc(50% - 30px);
	
	padding: 15px;
	/* margin: 0 auto; */
	
	vertical-align: middle;
}
@media only screen and (min-width: 600px) {
	#itemlist { max-width: 6em; }
	#itemlist > * {
		flex-basis: calc(33.333% - 30px); /* 3 items per row */
		/* grid-template-columns: repeat(3, 1fr); */
	}
}
@media only screen and (min-width: 800px) {
	#itemlist { max-width: 12em; }
	#itemlist > * {
		flex-basis: calc(16.666% - 30px); /* 6 items per row */
		/* grid-template-columns: repeat(6, 1fr); */
	}
}

/* link colors */
#itemlist a {
	color: #fff;
	text-align: center;
	align-self: center;
	
	transition: color 0.25s;
}
#itemlist a:hover {
	color: #c4c4c4;
}
#itemlist a:active { color: #aaaaaa; }
#itemlist a img {
	max-width: 1em;
	max-height: 1em;
}
